// Others

.page-content {
    .choose-parcelseba-title {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 54px;
        text-transform: capitalize;
        color: #333333;
    }
    .choose-parcelseba-subtitle {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
        text-transform: capitalize;
        color: #4F4F4F;
        display: block;
        padding-bottom: 50px;
    }
    .choose-parcelseba-list {
        padding: 0;
        .choose-parcelseba-item {
            list-style: none;
            padding-bottom: 30px;
            .icon {
                width: 94px;
                height: 94px;
                background: $secondary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                float: left;
                margin-right: 20px;
            }
        }
    }
}